<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Vernalis Portal</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/vernalis.ico")">		
		<link rel="stylesheet"  type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"></link>
		<script src="@routes.Assets.at("javascripts/jquery-1.10.1.min.js")"></script>		
		<script src="@routes.Assets.at("javascripts/unslider.js")"></script>		
		<script src="@routes.Assets.at("javascripts/home.js")"></script>
		<script src="@routes.Assets.at("javascripts/colorbox.js")"></script>
		<link rel="stylesheet"  type="text/css" media="screen" href="@routes.Assets.at("stylesheets/colorbox.css")"></link>
	</head>
	<body  class="vernalis_bg_gradient">
		<div class="page" align="center">
			<!-- Page Container div came here--> 			
			<div id="inner_pg" class="page_template" align="center">
				<div class="pageBorder">
					<div class="header">
						<div class="logo">
							<img src=@routes.Assets.at("images/logo.png") class="logoImage"></img>
						</div>						
						<div class="yearHolder">
						</div>
						<div class="rightHeader">
							<div class="userDetails">
								<div class="flags">									
									&nbsp;&nbsp;
									<img src=@routes.Assets.at("images/flag/usa.png")></img>
									<img src=@routes.Assets.at("images/flag/London.png")></img>
									<img src=@routes.Assets.at("images/flag/Germany.png")></img>
									<img src=@routes.Assets.at("images/flag/ind.png")></img>
									<img src=@routes.Assets.at("images/flag/Aus.png")></img>
									<a class='signin' href="#loginDialog">Sign In</a>
									<div class="topMenus">
										Welcome &nbsp; <div style="float: right;" id='loggedUserName'></div> 
									</div>
								</div>								
							</div>													
						</div>
						<div class="search">
							<input type="search" name="q" placeholder="Search..." autocomplete="off">
						</div>
					</div>
					<div class="menuBar">
						<div id="navigation">
							<nav>
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Our Business</a></li>
									<li><a href="#">Solutions</a></li>
									<li><a href="#">Chatter Forum</a></li>
							    <li><a href="#">Support</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="vernalisSlider">
						<div class="banner">
						    <ul>
						        <li><img src=@routes.Assets.at("images/slider/5.jpg")></img></li>
						        <li><img src=@routes.Assets.at("images/slider/1.jpg")></img></li>
						        <li><img src=@routes.Assets.at("images/slider/2.jpg")></img></li>
						        <li><img src=@routes.Assets.at("images/slider/3.jpg")></img></li>
						        <li><img src=@routes.Assets.at("images/slider/4.jpg")></img></li>
						    </ul>
						</div>
					</div>
					<div class="hrMessageBar">
						<div class="hrMessageTitle">
							<span class="blink_me">HR Message >>></span>
						</div>
						<div class="hrMessage">
						  <marquee direction="left">This is basic example of marquee</marquee>
						</div>
					</div>				
					<div class="mainContent">
						<div class="leftPane">
							<div class="leftPaneContent">
								sd
							</div>
						
						</div>
						<div class="contentPane">
							<div class="contentPaneContent">
								sd
							</div>
						</div>
						<div class="rightPane">
							<div class="rightPaneContent">
								sd
							</div>
						</div>
					</div>
					<div class="footerArea">
						<div class="footerHolder" style="width:1024px;">
							<div class="footer" style="width:1024px;">
								<div class="footerContent">
									<div style="margin-bottom: 9px;">
										<img src=@routes.Assets.at("images/vernalis_footer_logo.png")>
									</div>									
									<div>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam, turpis ac aliquam mollis, urna ligula rutrum leo, sed suscipit urna elit eu lorem. Vestibulum vel viverra neque.
									</div>
									<div class="copyRight">
									 	<b>Copyright Vernalis@@2014</b>
									</div>
									<div class="siteMap">
									 	<a href="#">SITEMAP</a> | <a href="#">PRIVACY</a> 
									</div>
								</div>
								<div class="social">
									<div class="socialTitle">
										Get Connected.
									</div>
									<div>
										<table>
											<tr><td><a href="#">NEWS</a></td></tr>
											<tr><td><a href="#">CONTACT US</a></td></tr>
											<tr><td><a href="#">NEWSLETTER</a></td></tr>
										</table>
									</div>
								</div>
								<div class="news">
									<div class="socialTitle">
										Stay Connected.
									</div>
									<div>
										<table width="100%">											
											<tr>
												<td width="8%"><a href="#"><img src=@routes.Assets.at("images/facebook.png")></a><br/></td>
												<td><a href="#">FACEBOOK</a></td>
											</tr>												
											<tr>
												<td><a href="#"><img src=@routes.Assets.at("images/twitter.png")></a><br/></td>
												<td><a href="#">TWITTER</a></td>
											</tr>
											<tr>
												<td><a href="#"><img src=@routes.Assets.at("images/linkedin.png")> </a><br/></td>
												<td><a href="#">LINKEDIN</a></td>
											</tr>
										</table>
									</div>
								</div>
								<div class="aboutUs">
									<div class="socialTitle">
										About Us
									</div>
									<div>
										<table>
											<tr><td><a href="#">AT A GLANCE</a></td></tr>
											<tr><td><a href="#">GLOBAL PRESENCE</a></td></tr>
											<tr><td><a href="#">CLIENTS</a></td></tr>
											<tr><td><a href="#">CAREERS</a></td></tr>
										</table>
									</div>									
								</div>
							</div>						    
						</div>
						<div class="footerOuter" style="width:960px;">
							<!-- <img src="images/footer.png"> -->
						</div>
					</div>
				</div>				
			</div>				
		</div>
		<div style="display: none;">
			<div id="loginDialog">
				<br/>
				<input type="text" name="userName" placeholder="User Name" autocomplete="off" class="userName"><br/><br/>
				<input type="password" name="password" placeholder="Password" autocomplete="off" class="password"><br/><br/>
				<input type="button" name="logMeIn" class="logMeIn" value="GO"><br/>
				<div class="invalidUser"></div>
			</div>
		</div>					
	</body>
</html>
